/* Style the body element */
body {
    font-family: Times New Roman, serif;
    background-color: #fdefb2;
    color: #1e1e1e;
}

/* Style a heading element */
h1 {
    color: #000080;
}

/* Style paragraphs */
p {
    font-size: 16px;
}
